<h2>Add Activity</h2>

<form action="/activities/add-activity" method="post">

    <label for="name">Name of Activity</label>
    <input id="name" type="text" name="name">

    <label for="description">Description</label>
    <input id="description" type="text" name="description">

    <label for="imageURL">Image</label>
    <input id="imageUrl" type="text" name="imageURL">

    <button type="submit">Add Activity</button>


</form>