<h2>Add Activity</h2>

<form action="/activities/add-activity" method="post" enctype="multipart/form-data">

    <label for="name">Name of Activity:</label>
    <input id="name" type="text" name="name">

    {{!-- adding drop down thing for categories --}}

    <select name="category" id="">
        <option value="Run">run</option>
        <option value="Walk">walk</option>
        <option value="Bike">bike</option>
        <option value="Hike">hike</option>
    </select>

    <label for="description">Description:</label>
    <input id="description" type="text" name="description">

    {{!-- <label for="imageURL">Image</label>
    <input id="imageUrl" type="text" name="imageURL"> --}}
    <input type="file" name="activity-cover-image" />

    {{!-- <form action="/movies/create" method="post" enctype="multipart/form-data"> </form> --}}


    <button type="submit">Add Activity</button>


</form>