<h2>My Activities</h2>


{{#each activity}}

<a href="/activities/activity-details/{{_id}}">
    <div>
        <h4> {{name}}</h4>
        <img class="activity-photo" src="{{imageUrl}}" alt="my activity">
    </div>

</a>
<br>
<hr>


{{/each}}