<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<nav>
  <a href="/activities/all-activities">See All Activities</a>
  <a href="/activities/add-activitiy">Add an Activity</a>
  <a href="/auth/signup">Sign up</a>
  <a href="/auth/login">Login</a>
  <a href="/auth/logout">Logout</a>
</nav>

<body>
  {{{body}}}
</body>

</html>